body{
    background-color: #fafbfb;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
}

.content{
    margin-left: 30px;
    background-image: url("../gifs/gif-winx.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:40%;
    width: calc(34% + 6px);
}